<!-- footer html -->

<footer class="footer" id="footer">
    <div class="footer-dark-mode"></div>
    <div class="footer-body-content">
        <p class="footer-font-size footer-font-flex">
            &#169;
            <span class="footer-currentYear"></span>
            &#10072; All Rights Reserved &#10072;
        </p>
        <div class="footer-font-flex">
            <p class="footer-font-size">
                &thinsp;Developed with
            </p>
            <img class="footer-heart-icon-custom" src="./images/icons/heart-footer.svg" alt="heart-icon">
            <p class="footer-font-size">
                by&thinsp;
                <a href="#" role="button" class="footer-color-font footer-data-modal-open">
                    GoIT Romania &#10072; &#8249;&#8260;&#8250; DivMasters
                </a>
            </p>
        </div>
    </div>
</footer>

<!-- modal section -->

    <section class="footer-modal footer-is-hidden">
        <div class="footer-modal-content footer-modal-dark-mode">
            <div class="footer-modal-close">
                <img class="footer-close-icon" src="./images/icons/close-button.svg" alt="close-icon">
            </div>
            <h2 class="footer-font-title">Made by:</h2>
            <div class="footer-content">
                <div class="footer-cards">
                    <div class="footer-team-card">
                        <picture class="footer-image-container">
                            <source srcset="./images/bogdan-nemes@2x.webp" type="image/webp"/>
                            <img class="footer-img-size" src="./images/bogdan-nemes.webp" alt="Bogdan Nemes"/>
                        </picture>
                        
                        <div class="footer-member-info">
                            <span class="footer-team-name">Bogdan Nemes</span>
                            <em class="footer-team-function">Team leader</em>
                        </div>
                        <div class="footer-icon-cards">
                            <a 
                                href="https://github.com/Tumoji" 
                                class="footer-github-icon" 
                                aria-label="github"
                                target="_blank"
                                rel="noreferrer noopener"
                                >     
                            </a>
                            <a 
                                href="https://linkedin.com/in/bogdan-nemes-b35841a7" 
                                class="footer-linkedin-icon" 
                                aria-label="linkedin"
                                target="_blank"
                                rel="noreferrer noopener"
                                >
                            </a>
                        </div>
                    </div>
                    <div class="footer-team-card">
                        <picture class="footer-image-container">
                            <source srcset="./images/dan_retegan@2x.webp" type="image/webp"/>
                            <img class="footer-img-size" src="./images/dan_retegan.webp" alt="Dan Retegan"/>
                        </picture>
                        
                        <div class="footer-member-info">
                            <span class="footer-team-name">Dan Retegan</span>
                            <em class="footer-team-function">Scrum master</em>
                        </div>
                        <div class="footer-icon-cards">
                            <a 
                                href="https://github.com/danretegan" 
                                class="footer-github-icon" 
                                aria-label="github"
                                target="_blank"
                                rel="noreferrer noopener"
                                >     
                            </a>
                            <a 
                                href="https://www.linkedin.com/in/dan-retegan-25a7a92a4" 
                                class="footer-linkedin-icon" 
                                aria-label="linkedin"
                                target="_blank"
                                rel="noreferrer noopener"
                                >
                            </a>
                        </div>
                    </div>
                    <div class="footer-team-card">
                        <picture class="footer-image-container">
                            <source srcset="./images/ciprian-ropcean@2x.webp" type="image/webp"/>
                            <img class="footer-img-size" src="./images/ciprian-ropcean.webp" alt="Ciprian Ropcean"/>
                        </picture>
                        <div class="footer-member-info">
                            <span class="footer-team-name">Ciprian Ropcean</span>
                            <em class="footer-team-function">Frontend developer</em>
                        </div>
                        <div class="footer-icon-cards">
                            <a 
                                href="https://github.com/Cipick23" 
                                class="footer-github-icon" 
                                aria-label="github"
                                target="_blank"
                                rel="noreferrer noopener"
                                >     
                            </a>
                            <a 
                                href="https://www.linkedin.com/in/ciprianropcean/" 
                                class="footer-linkedin-icon" 
                                aria-label="linkedin"
                                target="_blank"
                                rel="noreferrer noopener"
                                >
                            </a>
                        </div>
                    </div>
                    <div class="footer-team-card">
                        <picture class="footer-image-container">
                            <source srcset="./images/andrei-rusu@2x.webp" type="image/webp"/>
                            <img class="footer-img-size" src="./images/andrei-rusu.webp" alt="Andrei Rusu"/>
                        </picture>
                        <div class="footer-member-info">
                            <span class="footer-team-name">Andrei Rusu</span>
                            <em class="footer-team-function">Frontend developer</em>
                        </div>
                        <div class="footer-icon-cards">
                            <a 
                                href="https://github.com/adad22ro" 
                                class="footer-github-icon" 
                                aria-label="github"
                                target="_blank"
                                rel="noreferrer noopener"
                                >     
                            </a>
                            <a 
                                href="https://ro.linkedin.com/in/andrei-rusu-270719288" 
                                class="footer-linkedin-icon" 
                                aria-label="linkedin"
                                target="_blank"
                                rel="noreferrer noopener"
                                >
                            </a>
                        </div>
                    </div>
                    <div class="footer-team-card">
                        <picture class="footer-image-container">
                            <source srcset="./images/simon-khawam@2x.webp" type="image/webp"/>
                            <img class="footer-img-size" src="./images/simon-khawam.webp" alt="Simon Khawam"/>
                        </picture>
                        <div class="footer-member-info">
                            <span class="footer-team-name">Simon Khawam</span>
                            <em class="footer-team-function">Frontend developer</em>
                        </div>
                        <div class="footer-icon-cards">
                            <a 
                                href="https://github.com/Simonkhawam" 
                                class="footer-github-icon" 
                                aria-label="github"
                                target="_blank"
                                rel="noreferrer noopener"
                                >     
                            </a>
                            <a 
                                href="http://linkedin.com/in/simon-khawam-7b138371" 
                                class="footer-linkedin-icon" 
                                aria-label="linkedin"
                                target="_blank"
                                rel="noreferrer noopener"
                                >
                            </a>
                        </div>
                    </div>
                </div>
                <div class="footer-modal-cover footer-is-hidden"></div>
            </div>
        </div>
    </section>
