<header>
  <section class="header-section">
    <div class="dark-gradient-mobile"></div>
    <img
      class="hero-image"
      src="./images/filmoteka-main-image.jpg"
      alt="Movie popcorn, 3D glasses and camera"
    />
    <div class="logo-container">
      <div class="logo-alignment">
        <img class="logo-icon" src="./images/film-icon.svg" alt="Film icon" />
        <span class="logo-text">Filmoteka</span>
      </div>
    </div>
    <div class="btn-toggle">
      <div class="btn1_container">
        <i class="fas fa-circle"></i>
      </div>
    </div>
    <div class="btn-container-1">
      <div class="btn-52">
        <div class="original">HOME</div>
        <div class="letters">
          <!-- Place each letter in its own element -->
          <span>H</span>
          <span>O</span>
          <span>M</span>
          <span>E</span>
        </div>
      </div>
    </div>
    <div class="btn-container-2">
      <div class="btn-53">
        <div class="original">MY LIBRARY</div>
        <div class="letters">
          <!-- Place each letter in its own element -->
          <span>M</span>
          <span>Y</span>
          <span>&nbsp;</span>
          <span>L</span>
          <span>I</span>
          <span>B</span>
          <span>R</span>
          <span>A</span>
          <span>R</span>
          <span>Y</span>
        </div>
      </div>
    </div>
    <div class="search-container">
      <div class="form-container">
        <form class="search-form" id="search-form">
          <input
            class="searchInput"
            type="text"
            name="searchQuery"
            autocomplete="off"
            placeholder="Search movies..."
          />
          <button class="search-form-button" type="submit">
            <img
              class="search-icon"
              src="./images/search-icon-white.svg"
              alt="Film icon"
            />
          </button>
        </form>
        <div class="searchError"></div>
      </div>
    </div>
    <div class="library-btns-container">
      <div class="library-btns">
        <div class="button-container">
          <button class="btn-border btn-library btn-watched">
            <span class="button-text">WATCHED</span>
          </button>
        </div>
        <div class="button-container">
          <button class="btn-border btn-library btn-queue">
            <span class="button-text">QUEUE</span>
          </button>
        </div>
      </div>
      <div class="clear-btn-container">
        <button class="clear-btn clear-watched-btn">
          <span class="clear-btn-text">Clear watched list</span>
          <span class="icon-clear">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
            >
              <path
                d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"
              />
            </svg>
          </span>
        </button>
        <button class="clear-btn clear-queue-btn">
          <span class="clear-btn-text">Clear queue list</span>
          <span class="icon-clear">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
            >
              <path
                d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"
              />
            </svg>
          </span>
        </button>
      </div>
    </div>
  </section>
</header>

<script type="module" src="./js/spinner.js"></script>
