<!-- Pagination -->
<section>
  <div class="center">
    <div class="pagination">
      <button id="previousButton" type="button">&laquo;</button>
      <button type="button" class="active">1</button>
      <button type="button">2</button>
      <button type="button">3</button>
      <button type="button">4</button>
      <button type="button">5</button>
      <button type="button">6</button>
      <button type="button">7</button>
      <button type="button">8</button>
      <button type="button">9</button>
      <button type="button">10</button>
      <button type="button">11</button>
      <button type="button">12</button>
      <button type="button">13</button>
      <button type="button">14</button>
      <button type="button">15</button>
      <button type="button">16</button>
      <button type="button">17</button>
      <button type="button">18</button>
      <button type="button">19</button>
      <button type="button">20</button>
      <button id="nextButton" type="button">&raquo;</button>
    </div>
  </div>
</section>
