.loader-container {
    height: 1000px;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 17vw;
    display: flex;
    align-items: center;
}

.loader-img {
    width: 60px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    scale: 2;
  }
  /* .loader::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 6px;
    top: 10px;
    width: 12px;
    height: 12px;
    color: #ffffff;
    background: currentColor;
    border-radius: 50%;
    box-shadow: 25px 2px, 10px 22px;
  } */
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 

  @media screen and (min-width: 1080px) {
    .loader-container {
      margin-top: 13vw;
    }
  }