.loader-container {
  height: 1000px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-top: 17vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.loader-img {
  width: 60px;
  border-radius: 50%;
  display: inline-block;
  position: relative;

  -webkit-animation: rotation 1s linear infinite;
  animation: rotation 1s linear infinite;
  scale: 2;
}
/* .loader::after {
  content: '';  
 
  position: absolute;
  left: 6px;
  top: 10px;
  width: 12px;
  height: 12px;
  color: #ffffff;
  background: currentColor;
  border-radius: 50%;
  box-shadow: 25px 2px, 10px 22px;
} */

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 1080px) {
  .loader-container {
    margin-top: 13vw;
  }
}
